<div class="full-width flex col f-center">
  <div class="content page">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          Sin asignar
        </ng-template>
        <app-tab-tickets></app-tab-tickets>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Asignados a mi
        </ng-template>
        <app-tab-tickets></app-tab-tickets>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Archivados
        </ng-template>
        <app-tab-tickets></app-tab-tickets>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>