<div mat-dialog-title class="col f-center" style="max-height: 72px;">
  <h2 class="title-dialog">Nuevo docente</h2>
</div>
<hr>
<form [formGroup]="teacherForm">
  <mat-dialog-content #scrollDiv>

    <h3>Información básica</h3>
    <div class="col g-2">
      <div class="col g-1">
        <mat-form-field appearance="outline">
          <mat-label>Nombre: </mat-label>
          <input #formControl id="name" formControlName="name" type="text" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Apellido:</mat-label>
          <input #formControl id="lastName" formControlName="lastName" type="text" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Correo de contacto: </mat-label>
          <input #formControl id="email" formControlName="email" type="email" matInput email="true" />
          <mat-error *ngIf="teacherForm.get('email')?.hasError('emailExists')">
            correos electrónico destinado a otro usuario
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nacionalidad</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let item of nations" [value]="item.id">{{
              item.countryName
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div style="display: flex; flex-direction: row; gap: 10px">
          <mat-form-field style="width: 33%" appearance="outline">
            <mat-label>Indicativo</mat-label>
            <input #formControl id="indicative" formControlName="indicative" type="number" matInput />
          </mat-form-field>
          <mat-form-field style="width: 65%" appearance="outline">
            <mat-label>Numero de contacto</mat-label>
            <input #formControl id="phone" formControlName="phone" type="text" matInput />
          </mat-form-field>
        </div>
        <mat-form-field style="height: 150px" appearance="outline">
          <mat-label>Descripción de perfil: </mat-label>
          <textarea #formControl id="descripProfile" matInput cdkTextareaAutosize formControlName="descripProfile" #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field style="height: 150px" appearance="outline">
          <mat-label>Descripción de la experiencia del docente: </mat-label>
          <textarea #formControl id="descripExperience" matInput formControlName="descripExperience" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <h3>Imagen de presentación del docente:</h3>
          <span>Agregue una imagen con relación de aspecto 4x3</span>
          <br />
          <app-add-file (callBackFileChange)="addImageFile($event)" title="Adjunte la imagen"
            subtitle="Clic en el botón o arrastrar el archivo aquí" fileType="image/png,image/jpg,image/jpeg"
            [completed]="true"> </app-add-file>
          <br />

          <h3>Video de presentación del docente:</h3>
          <span>Agregue un video mp4 (Máximo 120 segundos) </span>
          <br />
          <app-add-file (callBackFileChange)="addVideoFile($event)" title="Adjunte un video"
            subtitle="Clic en el botón o arrastrar el archivo aquí" fileType="video/mp4" [completed]="true">
          </app-add-file>
          <br />
      </div>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions class="action-dialog" align="end">
    <button class="cancel-button" (click)="cancel()" mat-elevation-z0 mat-stroked-button>Cancelar</button>
    <button class="create-button" color="primary" mat-raised-button [disabled]="isProcessing"
      (click)="create()">Crear</button>
  </mat-dialog-actions>
</form>