<div class="content" *ngIf="course">
    <div class="platform-info">
        <div class="info card-eki">
            <strong class="title">Número de Modulos</strong>
            <strong class="value">{{course.modules.items.length}}</strong>
        </div>
        <div class="info card-eki">
            <strong class="title">Número de clases</strong>
            <strong class="value">60</strong>
        </div> 
        <div class="info card-eki">
            <strong class="title">Número de lecturas</strong>
            <strong class="value">700</strong>
        </div>
        <div class="info card-eki">
            <strong class="title">Número de horas de video</strong>
            <strong class="value">345</strong>
        </div>
    </div>
</div>