<p>ticket: 1</p>
<div class="content">
  <br />
  <div class="chat">
    <div class="messages card-eki">
      <div class="user-message"></div>
      <div class="eki-message"></div>
    </div>
    <div class="send-message card-eki"></div>
  </div>
  <div class="ticket-actions card-eki">
    <div class="ticket-info">
        <strong>Cerrar la conversación</strong>
        <div class="action-buttons">
          <button mat-raised-button class="red-button">
            <fa-icon class="icon" [icon]="['fas', 'xmark']"></fa-icon>
          </button>
          <button mat-raised-button class="green-button">
            <fa-icon class="icon" [icon]="['fas', 'check']"></fa-icon>
          </button>
        </div>
        <div class="dates-info">
            <strong> Apertura </strong>
            <p>10-12-2023</p>
            <strong> Cierre </strong>
            <p>10-12-2023</p>
        </div>
    </div>
    <div class="client-info">
        <strong style="color:#7D06AD">Datos del cliente</strong>
        <br>
        <strong>Andres Rubiano</strong>
        <p>3166544346</p>
        <p>andres@eki.co</p>
    </div>
  </div>
</div>
