<br>
<div class="full-width flex col f-center">
  <div class="content page">
    <div class="row f-between f-center">
      <div>
        <h2 class="title">Evaluaciones</h2>
        <span>
          Administradores de la plataforma y de los proyectos</span>
      </div>
      <div>
        <button mat-raised-button class="btnForms" (click)="createForm()">Nuevo examen</button>
      </div>
    </div>
    <br />
    <div class="filter">
      <div class="filter card-eki row f-between g-1" [formGroup]="filterForm">
        <div class="filter-options row f-between">
          <mat-form-field appearance="outline">
            <mat-label>Atributo</mat-label>
            <mat-select formControlName="attribute">
              <mat-option *ngFor="let item of attr" [value]="item">{{
                item
                }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Condición</mat-label>
            <mat-select formControlName="condition">
              <mat-option *ngFor="let item of conditions" [value]="item">{{
                item
                }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput type="text" formControlName="value" />
          </mat-form-field>
        </div>


        <div class="buttons-filter" class="filter-actions g-1 row">
          <button class="refresh" mat-raised-button mat-stroked-button><fa-icon class="btnRefresh"
              [icon]="['fas', 'rotate-right']"></fa-icon></button>

          <button class="search btnSearch" mat-raised-button color="primary">Buscar</button>
        </div>
      </div>

      <br>

      <mat-card class="card-eki">
        <br>

        <div class="mat-elevation-z0">

          <mat-paginator [hidePageSize]="true" [length]="lengthForm" [pageSize]="limitElements"
            (page)="pageChange($event)" aria-label="Select page of periodic elements" pageSize="25">
          </mat-paginator>

          <div class="container-table custom-scroll">
            <table mat-table [dataSource]="dataSource" class="table">

              <ng-container matColumnDef="create">
                <th class="mw-250" mat-header-cell *matHeaderCellDef> Fecha de creación </th>
                <td class="mw-250" mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th class="mw-350" mat-header-cell *matHeaderCellDef> Nombre del examen </th>
                <td class="mw-350" mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="moduleName">
                <th class="mw-350" mat-header-cell *matHeaderCellDef> Nombre del modulo </th>
                <td class="mw-350" mat-cell *matCellDef="let element">
                  {{element.contentModule?.module?.nameModule}} </td>
              </ng-container>

              <ng-container matColumnDef="isPublic">
                <th class="mw-100" mat-header-cell *matHeaderCellDef> Es publico </th>
                <td class="mw-100" mat-cell *matCellDef="let element">
                  <mat-slide-toggle [checked]="element.isPublish" [disabled]="true"></mat-slide-toggle>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th class="mw-100" mat-header-cell *matHeaderCellDef> Acciones </th>
                <td class="mw-100" mat-cell *matCellDef="let element">
                  <button class="refresh" mat-raised-button mat-stroked-button matTooltip="Eliminar"
                    (click)="deleteForm($event, element.id, element.contentModuleId, element.name)"><fa-icon
                      class="btnRefresh" [icon]="['fas', 'trash']"></fa-icon></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetail(row.id)">
              </tr>
            </table>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
</div>